<nav-bar></nav-bar>
<div class="jumbotron">
	<div class="container">
		<h1 class="display-3">{{title}}</h1>
	</div>
</div>

<div class="container">
      <div class="row">
        <div class="col-md-4">
        	<movie-container movieId="{{movieId1}}"></movie-container>
        </div>
        <div class="col-md-4">
        	<movie-container movieId="{{movieId2}}"></movie-container>
        </div>
        <div class="col-md-4">
        	<movie-container movieId="{{movieId3}}"></movie-container>
        </div>
      </div>
</div>






