<nav-bar></nav-bar>
<div class="title-release">
	<h1>{{movie.title}} ({{year}})</h1>
</div>

<div class="votes">
	<h5>{{movie.vote_average}}/10</h5>
</div>

<form class="radio-buttons" action="">
  1 <input type="radio" name="points" value="1"> /
  2 <input type="radio" name="points" value="2"> /
  3 <input type="radio" name="points" value="3"> /
  4 <input type="radio" name="points" value="4"> /
  5 <input type="radio" name="points" value="5"> /
  6 <input type="radio" name="points" value="6"> /
  7 <input type="radio" name="points" value="7"> /
  8 <input type="radio" name="points" value="8"> /
  9 <input type="radio" name="points" value="9"> /
  10 <input type="radio" name="points" value="10">
</form>

<button class="boton">Votar</button>

<br>

<img class="movie-foto" src="https://image.tmdb.org/t/p/w640/{{movie.poster_path}}"/>

<div class="movie-overview">
	<h4>{{movie.overview}}</h4>
</div>


