.title-release {
	margin-left: 30px;
	width: 100%;
}

.votes {
  	margin-left: 30px;
  	margin-bottom: 15px;
  	position:relative;
}

.movie-foto {
  height: 20em;
  width: 15em;
  margin-left: 30px;
  margin-bottom: 15px;
  position:relative;
}

.movie-overview {
  	margin-left: 30px;
  	position:relative;
}

.radio-buttons {
	margin-left:30px;
	margin-bottom: 15px;
}

.boton {
	margin-left: 30px;
	margin-bottom: 15px;
}
