.search-result{
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width:195px;
  height: 16px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}

.search-result:hover {
  color: #eee;
  background-color: #607D8B;
}

#search-box{
  width: 100em;
  height: 20px;
}

#movie-item {
  height: auto;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border-color: #28a745;
  background-color: #197D1A;
}

#movie-item:hover{
  background-color: #093109;
}

a:link{
  text-decoration: none;
  color: #FFFFFF;
}

.lista {
  position: fixed;
}

.item {
  color: white;
  font-weight: bold;
}
